
<%# Searchbar %>
<div class="ginny-show">
  <div class=" container px-4 pagination justify-content-center">
    <%= simple_form_for :search, url: profiles_path, method: :get, data: { controller: "search-form" } do |f| %>
      <div class="row">
        <div class="col pt-3 align-self-enter">
          <%= f.input :username,
            input_html: { value:  params.dig(:search, :username) },
            class: "form-control",
            placeholder: "Rechercher un.e ami.e ou membre",
            label: false
          %>
        </div>
      </div>
      <% end %>
  </div>
<%# Friend list %>
  <div class="container ginny-show px-2">
    <div class="user-profil-list">
      <% @profiles.each do |profile| %>
      <div class= "user-profil-card">
        <% if profile.photo.attached?%>
          <%= cl_image_tag profile.photo.key, class: "avatar-xxl mb-3", width: 200 %>
        <% end %>
        <h2 class="profil-username"><%= link_to "#{profile.username }", profile_path(profile) %></h2>
        <p><%= pluralize(profile.favorites.count, "praticien.ne suivi.e", "praticien.ne suivi.e.s") %></p>
        <p class="friends-count">
         <%= profile.friendships.count == 0 ? "ne suit personne" : pluralize(profile.friendships.count, "abonnement") %>
        </p>
        <%# <% unless profile == current_user %>
        <div class="follow-button">
          <% if current_user.follow(profile) %>
            <%= link_to "Se désabonner", friendship_path(current_user.follow(profile)), method: :delete %>
          <% else %>
            <%= link_to "S'abonner", profile_friendships_path(profile), method: :post %>
          <% end %>
        </div>
        <%# <% end %>

      </div>
      <% end %>

      <%# <%= link_to "Abonné.e", new_invite_path, class: "follow-button" %>
    </div>
    <div class='d-flex justify-content-center p-3'>
      <%= link_to "Inviter un.e ami.e", new_invite_path, class: "button-secondary py-2", id:"add-friend-button" %>
    </div>
  </div>

</div>
