
<div class=" container pt-4 mt-4 pagination justify-content-center">
  <%= simple_form_for :search, url: profiles_path, method: :get, data: { controller: "search-form" } do |f| %>
    <div class="row">
      <div class="col align-self-enter">
        <%= f.input :username,
          input_html: { value:  params.dig(:search, :username) },
          class: "form-control",
          placeholder: "Rechercher un.e ami.e ou membre",
          label: false
        %>
      </div>
    </div>
    <% end %>
</div>
<div class="container ginny-show px-4">
  <ul><% @profiles.each do |profile| %>
 <div class= "profil-details">
    <% if profile.photo.attached?%>
      <%= cl_image_tag profile.photo.key, class: "avatar-xxl mb-3", width: 200 %>
    <% end %>
    <li><h1 class="h2"><%= link_to "#{profile.username }", profile_path(profile) %></h1></li>
    <%= link_to "Abonné", new_invite_path, class: "follow-button" %>
     </div>
  <% end %>
  </ul>

  <%= link_to "Inviter un ami", new_invite_path, class: "button-add-friends" %>

</div>

