
<div class=" ginny-show profile-show">
<%# Avatar %>

  <div class="profil-info">
    <div class="profil-text">
      <h2><%= @profile.username %></h2>
      <%# <p><%= pluralize(@profile.friendships.count, 'ami.e', 'ami.e.s')</p>%>
      <% unless @profile == current_user %>
      <div class="profile-button">
        <div class="follow-button">
          <%= link_to 'Abonné.e', profile_friendships_path(@profile), method: :post unless @friendship %>
        </div>
        <%# <div class="unfollow-button"> %>
        <%# <%= link_to 'Se désabonner', friendship_path(@friendship), method: :delete if @friendship %>
        <%# </div> %>
      </div>
      <% end %>
    </div>

    <div class="profil-pic">
      <% if @profile.photo.attached?%>
        <%= cl_image_tag @profile.photo.key, class: "avatar-xxl mb-3", width: 200 %>
      <% end %>
    </div>
  </div>






  <h3>Soignant.e.s en favoris</h3>
  <div class="doctor-list">
    <% @profile.favorites.includes(:doctor).each do |favorite| %>
    <div class='box-bordered'>
      <div class ='doctor-card'>
        <div class="doctor-card-text">
        <h4>
          <%= link_to "#{favorite.doctor.first_name.capitalize} #{favorite.doctor.last_name.capitalize}", doctor_path(favorite.doctor) %>
        </h4>
        <p><%= favorite.doctor.street %></p>
        <p><%= favorite.doctor.city %></p>
        </div>
        <div class="doctor-card-tag">
          <div class="tag <%=favorite.doctor.profession%> p-2">
            <%= favorite.doctor.profession.capitalize %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
