<ul class="dashboard-doctor-card"  data-favorite-id="<%= favorite.id %>">
  <div>
    <li >
      <h4><%= "#{favorite.doctor.first_name.capitalize} #{favorite.doctor.last_name.capitalize}" %></h4>
    </li>
    <li >
      <p class="tag <%=favorite.doctor.profession%> "><%= favorite.doctor.profession %></p>
    </li>
  </div>
  <li class= "delete smaller-text light-grey-color">
    <%= link_to 'x', favorite_path(favorite), method: :delete %>
  </li>
</ul>
