<div class="container pt-4 mt-4 d-flex justify-content-center background_search">
  <%= simple_form_for :search, url: doctors_path, method: :get, data: { controller: "search-form" } do |f| %>
    <div class="row  no-gutters">
      <div class="col align-self-enter">
        <%= f.input :address,
          input_html: { value:  params.dig(:search, :address) },
          class: "form-control",
          placeholder: "Où ? (adresse, ville)",
          label: false,
          required: false
        %>
      </div>
    </div>

    <div class="row  no-gutters d-flex justify-content-center">
      <div class="col align-self-enter">
        <%= f.input :name_or_specialty,
          input_html: { value:  params.dig(:search, :name_or_specialty) },
          class: "form-control",
          placeholder: "Nom du praticien ou spécialité",
          label: "<i class='fas fa-search text-primary pin'></i>".html_safe,
          required: false
        %>
      </div>
    </div>

    <div class="row no-gutters">
      <div class="pt-4 mt-4 col align-self-center mx-auto text-center">
        <%= link_to '',
          data: {
            action: "click->search-form#showAdvancedFilters",
            search_form_target: 'filtersBtn'
          } do %>
            <i class='fas fa-filter mr-2 text-primary'></i>Recherche avancée
          <% end %>
      </div>
    </div>
      <div class="row  no-gutters d-flex justify-content-center">
        <div class="col align-self-enter">
          <div class="advanced_filters d-none" data-search-form-target="advancedFilters">

            <%= f.input :gender,
              collection: Doctor.genders,
              input_html: { class: "form-control" },
              placeholder: "Le genre de mon praticien",
              required: false
            %>

            <%= f.input :profession,
              collection: Doctor.professions,
              input_html: { class: "form-control" },
              placeholder: "La profession de mon praticien.ne",
              required: false
            %>

            <%= f.input :convention,
              collection: Doctor.conventions,
              input_html: { class: "form-control" },
              placeholder: "La convention de mon praticien.ne",
              required: false
            %>

            <%= f.input :tags,
              as: :check_boxes,
              collection: Tag.all_names,
              input_html: { class: "form-control" },
              placeholder: "Les tags de mon praticien.ne",
              required: false
            %>

            <%= f.input :badges,
              as: :check_boxes,
              collection: Badge.pluck(:picto),
              input_html: { class: "form-control" },
              placeholder: "Les tags de mon praticien.ne",
              required: false
            %>

          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center" style="margin-bottom: 14vh;">
        <%= f.submit :Chercher, class: "button-main mb-4" %>
      </div>

    <% end %>
  </div>
</div>
