<div class="map-container">
  <div id="map" class="map"
      style="width: 100%; height: 300px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<% @doctors.each do |doctor| %>
  <div class='box-bordered'>
    <div class ='doctor-card'>
      <div class="doctor-card-text">
        <h4><%= "#{attribute(doctor)} #{doctor.first_name.capitalize} #{doctor.last_name.capitalize}" %></h4>
        <p><%= "#{doctor.street}" %></p>
        <p><%= "#{doctor.city}" %></p>
      </div>
      <div class="doctor-card-tag">
        <div class='tag py-1 <%=doctor.profession%>' >
          <%= "#{doctor.profession.capitalize}" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

