<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@doctor.first_name} #{@doctor.last_name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @doctor.profession %>


  <div class='box-bordered'>
    <div class ='doctor-card pb-4'>
      <div class="doctor-card-text">
        <h4><%= "#{attribute(@doctor)} #{@doctor.first_name.capitalize} #{@doctor.last_name.capitalize}" %></h4>
        <p><%= "#{@doctor.street}" %></p>
        <p><%= "#{@doctor.city}" %></p>
      </div>
      <div class="doctor-card-tag"
           data-controller="favorite"
           data-favorite-doctor-value="<%= @doctor.id %>"
           <%# data-favorite-favorite-value="<%= @doctor.favorites.ids %>" %>
          <div data-favorite-target="heart">
            <% if current_user.favorite_doctor?(@doctor) %>
              <i class="fas fa-heart mb-2" data-action="click->favorite#unfavorite" data-id="<%= current_user.favorite(@doctor)&.id %>"></i>
            <% else %>
               <i class="far fa-heart mb-2" data-action="click->favorite#favorite"></i>
            <% end %>
          </div>
        <%# end %>
        <div class='tag p-2 <%=@doctor.profession%>' >
          <%= "#{@doctor.profession.capitalize}" %>
        </div>
      </div>
    </div>
  </div>


  <div class="box-bordered custom-padding-ginny">
    <h4>Tags</h4>
    <div class="tag-list">
      <% @doctor.tags.uniq.each do |tag| %>
        <div class="tag p-2 mx-2 <%= tag.name %>">
          <p><%= tag.name %></p>
        </div>
      <% end %>
    </div>
    <div class="d-flex justify-content-center pt-4">
      <%= link_to "Attribuer un tag", new_doctor_recommendation_path(@doctor), :class => "text-secondary" %>
    </div>
  </div>


  <div class="box-bordered custom-padding-ginny">
    <h4>Badges de la communauté</h4>
    <div class="badge-list">
      <% @doctor.group_badges.each do |key, value| %>
        <div class="badge-card">
          <div class="my-badge">
            <%= image_tag "badges/#{key}.jpg", size: 60 %>
            <div class="counter">
              <%= value.size %>
            </div>
          </div>
          <p><%= key.capitalize %></p>
        </div>
      <% end %>
    </div>
    <div class="d-flex justify-content-center pt-4">
      <%= link_to "Attribuer un badge", new_doctor_recommendation_path(@doctor), :class => "text-secondary" %>
    </div>
  </div>

  <div class="box-bordered custom-padding-ginny">
    <h4>Recommandé par</h4>
    <div class="badge-list">
      <div class="badge-card">
        <% @recommendations.each do |user|%>
          <% if user.photo.attached?%>
            <%= cl_image_tag user.photo.key, class: "avatar-xxl mb-3", width: 200 %>
            <p><%= link_to "#{user.username }", profile_path(user) %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="box-bordered custom-padding-ginny">
    <h4> Tarifs et remboursement</h4>
    <div class="pricing-info py-3">
      <p>Cout moyen: <%= "#{@doctor.average_number}" %> €</p>
      <p><%= @doctor.carte_vital %></p>
      <p>Conventionné <%= "#{@doctor.convention}" %></p>
    </div>
  </div>
</div>
