    <div class='box-bordered'>
    <div class ='doctor-card'>
      <div class="doctor-card-text">
        <h4><%= "#{attribute(@doctor)} #{@doctor.first_name.capitalize} #{@doctor.last_name.capitalize}" %></h4>
        <p><%= "#{@doctor.street}" %></p>
        <p><%= "#{@doctor.city}" %></p>
      </div>
      <div class="doctor-card-tag">
        <div class='tag py-1 <%=@doctor.profession%>' >
          <%= "#{@doctor.profession.capitalize}" %>
        </div>
      </div>
    </div>
  </div>

  <div class="box-bordered py-4 px-5">
    <h5>Spécialités</h5>
    <% @doctor.badges.each do |badge| %>
      <div class="badge">
        <div class="counter">

        </div>
      </div>
      <p><%= badge.name %></p>
    <% end %>
  </div>


  <h5>Tags</h5>
  <hr>

  <h5>Les badges de la communauté</h5>
  <hr>

  <h5>Recommandé par</h5>
  <hr>


  <h5> Tarifs et remboursement</h5>
  <p>Cout moyen: <%= "#{@doctor.average_number}" %> €</p>
  <p><%= "#{carte_vital(@doctor)}" %></p>
  <p>Conventionné <%= "#{@doctor.convention}" %></p>

  <%= link_to doctor_favorites_path(@doctor), method: :post do %>
    <i class="fas fa-heart"></i>
  <% end %>
</div>
