  <div class='box-bordered'>
    <div class ='doctor-card pb-4'>
      <div class="doctor-card-text">
        <h4><%= "#{attribute(@doctor)} #{@doctor.first_name.capitalize} #{@doctor.last_name.capitalize}" %></h4>
        <p><%= "#{@doctor.street}" %></p>
        <p><%= "#{@doctor.city}" %></p>
      </div>
      <div class="doctor-card-tag">
        <%= link_to doctor_favorites_path(@doctor), method: :post do %>
          <i class="fas fa-heart mb-2"></i>
        <% end %>
        <div class='tag p-2 <%=@doctor.profession%>' >
          <%= "#{@doctor.profession.capitalize}" %>
        </div>
      </div>
    </div>
  </div>


  <div class="box-bordered py-4 px-5">
    <h4>Tags</h4>
    <div class="tag-list">
      <% @doctor.tags.uniq.each do |tag| %>
        <div class="tag p-2 mx-2 <%= tag.name %>">
          <p><%= tag.name %></p>
        </div>
      <% end %>
    </div>
  </div>


  <div class="box-bordered py-4 px-5">
    <h4>Badges de la communauté</h4>
    <div class="badge-list">

      <% @doctor.group_badges.each do |key, value| %>
        <div class="badge-card mr-2">

          <div class="badge">
            <div class="counter">
              <%= value.size %>
            </div>
          </div>
          <p><%= key.capitalize %></p>
          </div>
        <% end %>
    </div>
  </div>
<%#
  <div class="box-bordered py-4 px-5">
    <h4>Recommandé par</h4>
    <div class="friends-list">
    </div>
  </div> %>

  <div class="box-bordered py-4 px-5">
    <h4> Tarifs et remboursement</h4>
    <div class="pricing-info py-3">
      <p>Cout moyen: <%= "#{@doctor.average_number}" %> €</p>
      <p><%= "#{carte_vital(@doctor)}" %></p>
      <p>Conventionné <%= "#{@doctor.convention}" %></p>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>

